/* in the name of allah */

body.dark{
    background-color: #0e0f1c;
}
body.dark p{
    color: rgb(226, 226, 226);
}

/* navigation */

body.dark #navigation{
    background-color: #0e171c;
}
body.dark .nav-logo{
    color: rgb(255, 208, 0);
}

body.dark #menu-button div{
     border-color: white;
 }
 body.dark #hamberger-menu{
     background-color: #27303b;
 }
 body.dark .menu-close-btn i{
     color: rgb(255, 255, 255);
 }
 body.dark .menu-logo{
     color: white;
 }

 body.dark #hamberger-items-ul li{
    border-bottom: 3px solid#27303b;
 }
 body.dark #hamberger-items-ul li:hover{
    border-bottom: 3px solid rgb(217, 241, 255);
 }
 body.dark #hamberger-items-ul li a{
     color: white;
 }
 body.dark .social-icons a i:hover{
    color: rgb(209, 209, 209);
}
body.dark .login-button{
    color: white;
}

/*------ End of navigation */

/* login */
body.dark .form-base{
    background-color:#1e262a ;
    color: rgb(209, 209, 209);
}
body.dark .forms input{
    color: rgb(209, 209, 209);
}
body.dark .login-tabs{
    border-color: #545b64;
}
body.dark .login-tabs span.active{
    background-color: #545b64;
}
body.dark .login-tabs span:hover{
    background-color: gray;
}
body.dark .login-with{
    background-color:#3a3a3a ;
    border-color: rgb(46, 46, 46);
}
body.dark .login-with .icons i{
    color: white;
}
/*------End of login */

/* navTool */
body.dark .navTool .col .navToolItem{
    color: white;
}
body.dark .navTool .col .navToolItem{
    background-color: rgb(39, 39, 39);
}
body.dark .navTool .col .navToolItem i{
    color: rgb(144, 144, 144);
}
body.dark .navTool .col .navToolItem:hover{
    background-color: rgb(70, 70, 70) !important;
}
body.dark .navToolArrows div{
    background-color: rgb(46, 46, 46);
    color: white;
}
body.dark .navToolArrows div:hover{
    background-color: rgb(85, 85, 85);
}
/* scrollbar  */
body.dark .navTool::-webkit-scrollbar-track{
    background-color: rgb(27, 27, 27);
}
body.dark .navTool::-webkit-scrollbar-thumb{
    background: rgb(56, 56, 56);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*----End of  scrollbar  */
/*-------End of navTool */

/* loading button */
body.dark .loadMoreBtn{
    background-color: rgb(200, 130, 0);
    color: rgb(0, 0, 0);
}
body.dark .end-of{
    color:rgb(226, 226, 226) ;
}
/*-------End of loading button */

/* post page  */
body.dark .post-image figcaption{
    color: white;
}
body.dark .post-image-data span i{
    color: gray;
}
body.dark .post-image-data span span{
    color: rgb(184, 184, 184);
}
body.dark .post-info-icons{
    background-color: rgb(31, 31, 31);
}
body.dark .post-info-icons a{
    color: rgb(179, 179, 179);
}
/* categoris */
body.dark .categoris h4{
    color: rgb(202, 202, 202);
}
body.dark .categoris-row::-webkit-scrollbar-track{
    background-color: rgb(27, 27, 27);
}
body.dark .categoris-row::-webkit-scrollbar-thumb{
    background: rgb(56, 56, 56);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
body.dark .categoris-item{
    background-color: rgb(39, 39, 39);
    color: rgb(144, 144, 144);
}
body.dark .categoris-item:hover{
    background-color: rgb(58, 58, 58) ;
}
/*---End of categoris */

/* download box */
body.dark .download-box{
    background-color: rgb(31, 31, 31);
}
/*------End of donload box */

/* more photos */
body.dark .more-photos-title h4{
    color: rgb(238, 238, 238);
}
body.dark .more-photos-title hr{
    border-color: gray;
}

/*-----End of more photos */

/*--------End of post page  */