/* in the name of allah */

body.dark{
    background-color: #0e171c;
}
body.dark p{
    color: rgb(226, 226, 226);
}

/* navigation */

body.dark #navigation{
    background-color: #0e171c;
}
body.dark .nav-logo{
    color: rgb(217, 241, 255);
}

body.dark #menu-button div{
     border-color: white;
 }
 body.dark #hamberger-menu{
     background-color: #27303b;
 }
 body.dark .menu-close-btn i{
     color: rgb(255, 255, 255);
 }
 body.dark .menu-logo{
     color: white;
 }

 body.dark #hamberger-items-ul li{
    border-bottom: 3px solid#27303b;
 }
 body.dark #hamberger-items-ul li:hover{
    border-bottom: 3px solid rgb(217, 241, 255);
 }
 body.dark #hamberger-items-ul li a{
     color: white;
 }
 body.dark .social-icons a i:hover{
    color: rgb(209, 209, 209);
}
body.dark .login-button{
    background: url("../images/header/login-icon-light.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/*------ End of navigation */

/* login */
body.dark .login-form{
    background-color:#0e171c ;
    color: rgb(209, 209, 209);
}
body.dark .login-tabs{
    border-color: #545b64;
}
body.dark .login-tabs span.active{
    background-color: #545b64;
}
body.dark .login-tabs span:hover{
    background-color: gray;
}
/*------End of login */

/* navTool */
body.dark .navTool .col .navToolItem{
    color: white;
}
body.dark .navTool .col .navToolItem:nth-child(even){
    background-color: rgb(39, 39, 39);
}
body.dark .navTool .col .navToolItem:nth-child(odd){
    background-color: rgb(66, 66, 66);
}
body.dark .navToolArrows div{
    background-color: rgb(46, 46, 46);
    color: white;
}
body.dark .navToolArrows div:hover{
    background-color: rgb(85, 85, 85);
}
/* scrollbar  */
body.dark .navTool::-webkit-scrollbar-track{
    background-color: rgb(27, 27, 27);
}
body.dark .navTool::-webkit-scrollbar-thumb{
    background: rgb(56, 56, 56);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*----End of  scrollbar  */
/*-------End of navTool */

/* loading button */
body.dark .loadMoreBtn{
    background-color: rgb(61, 61, 61);
    color: rgb(172, 172, 172);
}
/*-------End of loading button */