/* in the name of allah */

/* general class with the grid */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,1fr);
    grid-template-rows:auto;
    grid-auto-rows: min-content(50px);
    grid-auto-flow: dense;
    gap: 10px;
    padding: 10px;
    margin: 50px auto;
}
.grid-item {
    position: relative;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    overflow: hidden;
}
/*-------End of general class with the grid */




/* spans */
.full-width{
    grid-column: 1/-1;
}
.span1{
    grid-column: auto/span 1;
    grid-row: auto/span 1;
}
.spanx1{
    grid-column: auto/span 1;
}
.spany1{
    grid-row: auto/span 1;
}
.span2{
    grid-column: auto/span 2;
    grid-row: auto/span 2;
}
.spanx2{
    grid-column: auto/span 2;
}
.spany2{
    grid-row: auto/span 2;
}
.span3{
    grid-column: auto/span 3;
    grid-row: auto/span 3;
}
.spanx3{
    grid-column: auto/span 3;
}
.spany3{
    grid-row: auto/span 3;
}
.span4{
    grid-column: auto/span 4;
    grid-row: auto/span 4;
}
.spanx4{
    grid-column: auto/span 4;
}
.spany4{
    grid-row: auto/span 4;
}
.span5{
    grid-column: auto/span 5;
    grid-row: auto/span 5;
}
.spanx5{
    grid-column: auto/span 5;
}
.spany5{
    grid-row: auto/span 5;
}
.span6{
    grid-column: auto/span 6;
    grid-row: auto/span 6;
}
.spanx6{
    grid-column: auto/span 6;
}
.spany6{
    grid-row: auto/span 6;
}
.span7{
    grid-column: auto/span 7;
    grid-row: auto/span 7;
}
.spanx7{
    grid-column: auto/span 7;
}
.spany7{
    grid-row: auto/span 7;
}
.span8{
    grid-column: auto/span 8;
    grid-row: auto/span 8;
}
.spanx8{
    grid-column: auto/span 8;
}
.spany8{
    grid-row: auto/span 8;
}
.span9{
    grid-column: auto/span 9;
    grid-row: auto/span 9;
}
.spanx9{
    grid-column: auto/span 9;
}
.spany9{
    grid-row: auto/span 9;
}
.span10{
    grid-column: auto/span 10;
    grid-row: auto/span 10;
}
.spanx10{
    grid-column: auto/span 10;
}
.spany10{
    grid-row: auto/span 10;
}
.span11{
    grid-column: auto/span 11;
    grid-row: auto/span 11;
}
.spanx11{
    grid-column: auto/span 11;
}
.spany11{
    grid-row: auto/span 11;
}

/* --------End of spans */






/* mobile style */
@media screen and (max-width:767.9px){
    .grid-item {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}


/* --------End of mobile style */

