/* in the name of allah */

/* general class with the grid */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25,1fr));
    grid-template-rows:auto;
    grid-auto-rows: min-content(50px);
    grid-auto-flow: dense;
    gap: 10px;
    padding: 10px;
    margin: 50px auto;
}
.grid-item {
    position: relative;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    overflow: hidden;
}
/*-------End of general class with the grid */


/* Grid LightBox */
.grid-Light-Box{
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(2, 2, 2, 0.89);
    z-index: 100;
    margin-top: 20px;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}
.grid-light-box-object{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
}
.grid-lb-image{
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.grid-Light-Box:target{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
/* grid-ligt-box-icons */
.grid-ligt-box-icons{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}
.grid-Light-Box:target+.grid-ligt-box-icons{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.lb-icon-row{
    display: flex;
    flex-direction: column;
}
.lb-icon-row .grid-light-box-object{
    visibility: hidden;
}
.icon-close img{
    width: 40px;
}
.lb-icon-row .icon-close{
    position: relative;
    top: 55px;
}
.lb-icon-row .icon-arrows{
    position: absolute;
    top: 50%;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.lb-icon-row .icon-arrows a{
    opacity: .7;
}
.lb-icon-row .icon-arrows a:hover{
    opacity: 1;
}
.icon-arrows img{
    width: 45px;
}
/*---End of grid-ligt-box-icons */
/*-------End of Grid LightBox */



/* spans */
.full-width{
    grid-column: 1/-1;
}
.span1{
    grid-column: auto/span 1;
    grid-row: auto/span 1;
}
.spanx1{
    grid-column: auto/span 1;
}
.spany1{
    grid-row: auto/span 1;
}
.span2{
    grid-column: auto/span 2;
    grid-row: auto/span 2;
}
.spanx2{
    grid-column: auto/span 2;
}
.spany2{
    grid-row: auto/span 2;
}
.span3{
    grid-column: auto/span 3;
    grid-row: auto/span 3;
}
.spanx3{
    grid-column: auto/span 3;
}
.spany3{
    grid-row: auto/span 3;
}
.span4{
    grid-column: auto/span 4;
    grid-row: auto/span 4;
}
.spanx4{
    grid-column: auto/span 4;
}
.spany4{
    grid-row: auto/span 4;
}
.span5{
    grid-column: auto/span 5;
    grid-row: auto/span 5;
}
.spanx5{
    grid-column: auto/span 5;
}
.spany5{
    grid-row: auto/span 5;
}
.span6{
    grid-column: auto/span 6;
    grid-row: auto/span 6;
}
.spanx6{
    grid-column: auto/span 6;
}
.spany6{
    grid-row: auto/span 6;
}
.span7{
    grid-column: auto/span 7;
    grid-row: auto/span 7;
}
.spanx7{
    grid-column: auto/span 7;
}
.spany7{
    grid-row: auto/span 7;
}
.span8{
    grid-column: auto/span 8;
    grid-row: auto/span 8;
}
.spanx8{
    grid-column: auto/span 8;
}
.spany8{
    grid-row: auto/span 8;
}
.span9{
    grid-column: auto/span 9;
    grid-row: auto/span 9;
}
.spanx9{
    grid-column: auto/span 9;
}
.spany9{
    grid-row: auto/span 9;
}
.span10{
    grid-column: auto/span 10;
    grid-row: auto/span 10;
}
.spanx10{
    grid-column: auto/span 10;
}
.spany10{
    grid-row: auto/span 10;
}
.span11{
    grid-column: auto/span 11;
    grid-row: auto/span 11;
}
.spanx11{
    grid-column: auto/span 11;
}
.spany11{
    grid-row: auto/span 11;
}

/* --------End of spans */






/* mobile style */
@media screen and (max-width:767.9px){
    .grid-item {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}


/* --------End of mobile style */

