/* in the name of allah */

@font-face {
    font-family: 'SourceCode';
    src: url("../fonts/Source-Code-Variable/Source\ Code\ Variable.eot"),
    url("../fonts/Source-Code-Variable/Source\ Code\ Variable.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Source-Code-Variable/Source\ Code\ Variable.woff") format(woff),
    url("../fonts/Source-Code-Variable/Source\ Code\ Variable.woff2") format(woff2);
    src: url("../fonts/Source-Code-Variable/Source\ Code\ Variable.ttf") format("truetype");

}
body{
    font-family: 'SourceCode' !important;
    background-color: white;
    direction: ltr;
    overflow-x: hidden;
}
*{
    transition: .5s cubic-bezier(.15,.1,.47,.89);
    -webkit-transition: .5s cubic-bezier(.15,.1,.47,.89);
    -moz-transition: .5s cubic-bezier(.15,.1,.47,.89);
    -ms-transition: .5s cubic-bezier(.15,.1,.47,.89);
    -o-transition: .5s cubic-bezier(.15,.1,.47,.89);
}


/* navigation */
#navigation{
    background-color: white;
    width: 100% !important;
    height: 50px;
    box-shadow: 0 0 25px .1px rgba(65, 65, 65, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10000;
}
.nav-logo{
    font-size: 1.8rem;
    color: black;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.buttons a{
    color: black;
}
/* switcher */
@keyframes dark{
    0%{
        transform: rotate(45deg) scale(1.1);
        -webkit-transform: rotate(45deg) scale(1.1);
        -moz-transform: rotate(45deg) scale(1.1);
        -ms-transform: rotate(45deg) scale(1.1);
        -o-transform: rotate(45deg) scale(1.1);
}

    100%{
        transform: rotate(0deg) scale(1);
        -webkit-transform: rotate(0deg) scale(1);
        -moz-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        -o-transform: rotate(0deg) scale(1);
}
}
@keyframes dark2{
    0%{
        transform: rotate(45deg) scale(1.1);
        -webkit-transform: rotate(45deg) scale(1.1);
        -moz-transform: rotate(45deg) scale(1.1);
        -ms-transform: rotate(45deg) scale(1.1);
        -o-transform: rotate(45deg) scale(1.1);
}

    100%{
        transform: rotate(0deg) scale(1);
        -webkit-transform: rotate(0deg) scale(1);
        -moz-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        -o-transform: rotate(0deg) scale(1);
}
}
#darkButton{
    display: none;
}
#darkButton + label{
    display: block;
    position: relative;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 25px;
}
#darkButton + label::after{
    display: inline-block;
    margin-top: 1px;
    cursor:pointer;
    font-weight: 100 !important;
    font-size: 1.2rem;
    font-family: 'Font Awesome 5 Pro';
    content: "\f186";
    display: block;
    position: absolute;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    animation-name: dark;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-iteration-count:inherit;
}
#darkButton:checked + label::after{
    display: inline-block;
    margin-top: 1px;
    cursor:pointer;
    font-weight: 100 !important;
    font-size: 1.2rem;
    font-family: 'Font Awesome 5 Pro';
    content: "\f185";
    color: white;
    display: block;
    position: absolute;
    animation-name: dark2;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-iteration-count:inherit;
}
/*-------End of switcher */

/* login */
/* login button */
.login-button{
    display: inline-block;
    margin-top: 1px;
    cursor:pointer;
    font-weight: 200 !important;
    font-size: 1.2rem;
}
/*----End of login button */



/* menu */
/* menu-button */
#menu-button{
    margin-left: 5px;
    cursor:pointer;
}
.mb-line-1 ,
 .mb-line-2,
 .mb-line-3{
    border: 2px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 5px 0;
    height:0 ;
}
.mb-line-1{
    width: 20px;
}
.mb-line-2{
    width: 30px;
}
.mb-line-3{
    width: 40px;
}
/*-------End of menu-button */
/* hamberger menu */
#hamberger-menu-background-fillter{
    position: absolute;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.431);
    z-index: 1023;
    visibility: hidden;
    opacity: 0;
    cursor:pointer;
}
#hamberger-menu-background-fillter.active{
    visibility: visible;
    opacity: 1;
}
#hamberger-menu{
    position: absolute;
    top: 0;
    display: block;
    width: 240px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0 30px .2px rgba(44, 44, 44, 0.137);
    z-index: 1024;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    overflow-y: scroll;
    overflow-x: hidden;
}
#hamberger-menu.active{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.hamberger-header{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.menu-logo{
    color: black;
}
.menu-close-btn i{
    font-weight: 100;
    font-size: 1.5rem;
    color: black;
    margin-left: 10px;
}

#hamberger-items-ul{
    list-style: none;
    margin:30px 0 0 10px;
    font-size: 1.1rem;
}
#hamberger-items-ul li{
    margin: 18px auto;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 3px solid #ffffff;
}
#hamberger-items-ul li:hover{
    border-bottom: 3px solid #8b8b8b;
}
#hamberger-items-ul li a{
    color: black;
}
#hamberger-items-ul li a i{
    font-weight: 500;
    font-size: .9rem;
    margin-right: 7px;
}

/* social icons */
.social-icons{
    display: flex;
    margin: 30px 20px 50px 20px;
    padding: 7px;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgb(149, 149, 149);
    border-radius: 400px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    -o-border-radius: 400px;
}
.social-icons a i{
    font-size: 1.5rem;
    color: rgb(131, 131, 131);
}
.social-icons a i:hover{
    color: rgb(83, 83, 83);
}
/*-------End of social icons */
/*-------End of hamberger menu */
/*-------End of menu */
/*-------End of navigation */


/* footer */
footer{
    background-color: #1c282e;
    height: auto;
    margin-bottom: -10px !important;
    border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    -ms-border-radius: 40px 40px 0 0;
    -o-border-radius: 40px 40px 0 0;
    justify-content: center;
    text-align: center;
}
.footer-logo{
    width: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    color: #8b8b8b;
    border-radius: 15px 15px 0 0;
    background-color: #1c282e;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}
/* footer-menu */
.footer-menu-ul{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer-menu-ul li{
    padding-bottom: 5px;
    margin: 10px auto;
    text-align:left;
    list-style: none;
    border-bottom: 2px solid transparent;
    transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
}
.footer-menu-ul li:hover{
    border-bottom: 2px solid #8b8b8b;
}
.footer-menu-ul li a{
    color: gainsboro;
}
.footer-menu-ul li a i,span{
    font-weight: 300;
    margin: auto 5px;
}
.social-icons-footer{
    width: 50%;
    margin: 0 auto;
}
/*-------End of footer-menu */
.callto{
    color: gainsboro;
    display: block;
    margin: 15px auto;
}

.copy{
    background-color: rgb(102, 102, 102);
    font-size: .8rem;
    padding: 5px 25px;
    margin-top: 30px;
    display: inline-block;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.copy a{
    color: #ffd000;
}

/*-------End of footer */









/* mobile style */
@media screen and (max-width:768px){
    /* hamberger menu */
    #hamberger-menu{
    width: 300;
}
/*-------End of hamberger menu */
}
/* End of mobile style */
