/* post image  */
.post-image{
    max-width: 95%;
    margin: 0 auto;
}
.post-image img{
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.post-image .post-image-title{
    border-left: 3px solid rgb(0, 132, 255);
    padding-left: 10px;
    padding-bottom: 10px;
}
.post-image figure figcaption{
    margin: 40px 0;
    line-height: 40px;
    font-weight: 700;
}

/* post info icons */
.post-info-icons{
    display: inline-flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 50px .1px rgba(0, 0, 0, 0.103);
    padding: 10px 10px 10px 4px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    position: fixed;
    top: 140px;
    left: 0;
    z-index: 100;
}
.post-info-icons a{
    margin: 10px 0;
    font-size: .9rem;
    cursor: pointer;
}
.post-info-icons a:nth-child(1) i{
    color: rgb(209, 0, 63);
}
.post-info-icons a:nth-child(2) i{
    color: rgb(0, 113, 241);
}
.post-info-icons a:nth-child(3) i{
    color: rgb(255, 72, 0);
}


/*----End of post info icons */

.post-image-data span i{
    font-weight: 400;
    color: rgb(29, 29, 29);
}
.post-image-data span span{
    color: rgb(71, 71, 71);
    font-size: .9rem;
    font-weight: 500;
}
.post-image-data span a{
    color: #006eff;
    font-size: .9rem;
    font-weight: 700;
}
.post-image-data span a:hover{
    text-decoration: underline !important;
}

/*-------End of post image  */

/* lightbox */
.lightbox-fillter{
    position: fixed;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}
.lightbox-fillter.active{
    visibility: visible;
    opacity: 1;
}
.lightbox-base{
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    z-index: 1001;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    cursor: pointer;
}
.lightbox-base.active{
    visibility: visible;
    opacity: 1;
}
.lightbox{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}
.login-base.active .lightbox{
    visibility: visible;
    opacity: 1;
}
#lightbox-image{
    margin-top: -100px;
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}
#image{
    cursor: pointer;
}
/*------End of lightbox */

/* categoris */
.categoris{
    display: flex;
    line-height: 50px;
    overflow-x: hidden;
}

.categoris-item{
    padding: 5px 10px;
    background-color: rgb(235, 235, 235);
    margin: 0 7px;
    color: rgb(42, 42, 42);
    font-size: .8rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.categoris-item:hover{
    background: rgb(195, 195, 195);
}
.categoris-item i{
    font-weight: 400;
}
/*--------End of categoris */


/* download box */
.download-box{
    width: 96%;
    background-color: white;
    box-shadow: 2px 2px 40px 1px rgba(0, 0, 0, 0.089);
    border-radius: 15px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.dl-links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.download-link{
    display: inline-flex;
    justify-content: space-around;
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 10px;
    position: relative;
    margin: 20px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.download-link:hover{
    background-color: rgb(109, 109, 109);
}
.download-link:hover .lable{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.download-link .lable{
    position: absolute;
    right: 1%;
    top: -10px;
    background-color: rgb(255, 183, 0);
    padding: 4px;
    color: rgb(53, 53, 53);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.download-link .lable.hd{
    background-color: rgb(0, 217, 255);
    color: white;
}
.download-link .lable.sd{
    background-color: rgb(131, 255, 152);
}
.download-link .lable.min{
    background-color: rgb(255, 197, 163);
}
.dl-box-title{
    height: 100%;
    width: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg , rgb(255, 94, 0),rgb(255, 0, 0));
    border-radius: 0 50% 50% 0;
    -webkit-border-radius: 0 50% 50% 0;
    -moz-border-radius: 0 50% 50% 0;
    -ms-border-radius: 0 50% 50% 0;
    -o-border-radius: 0 50% 50% 0;
}
.dl-box-title img{
    width: 20px;
}
/*---------End of download box */







/* mobile style */
@media screen and (max-width:768px){
    /* post info icons  */
    .post-info-icons{
        position: static;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-top: 20px;
        padding: 5px;
    }
    /*-----End of post info icons  */

    /* categoris */
    .categoris-row{
        white-space: nowrap;
        overflow-x: scroll;
    }
    /* scrollbar  */
    .categoris-row::-webkit-scrollbar{
        height: 8px;
    }
    .categoris-row::-webkit-scrollbar-track{
        background-color: rgb(238, 238, 238);
    }
    .categoris-row::-webkit-scrollbar-thumb{
        background: rgb(202, 202, 202);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .categoris-row::-webkit-scrollbar-thumb:hover{
        background: rgb(139, 139, 139);
    }
    /*---End of  scrollbar  */
    /*-----End of categoris */

    /* download box */
    .download-link{
        font-size: .9rem;
    }
    /* End of download box */
}
/*------End of mobile style */








/* Mini mobile Fixed style */
@media screen and (max-width:305px){
    .download-box{
        display: flex;
        flex-direction: column;
    }
    .dl-box-title{
        width: 100%;
        display: flex;
        height: 50px;
        border-radius: 0 0 50% 50%;
        -webkit-border-radius: 0 0 50% 50%;
        -moz-border-radius: 0 0 50% 50%;
        -ms-border-radius: 0 0 50% 50%;
        -o-border-radius: 0 0 50% 50%;
}
}
/*-----------End of Mini mobile Fixed style */