/* grid styles */
.grid .grid-item img{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-filter{
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.377);
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
}
.image-filter img{
    max-width: 30px;
    display: block;
}
.grid-item:hover .image-filter{
    opacity: 1;
}
.image-filter .download-info{
    color: white;
    display: flex;
    position: absolute;
    bottom: 10%;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.download-info div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  0.8rem;
}
.download-info img{
    width: minmax(15px , 10%);
    margin-right: 5px;
}
/* load more btn */
.loadMoreBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    color: rgb(42, 42, 42);
    height: 40px;
    width: 40%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    margin: 0 auto;
}
.loadMoreBtn.active{
    background-color: rgb(97, 97, 97);
    box-shadow: 0 0 .1px 5px rgba(230, 230, 230, 0.494);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadMoreBtn .loadingGif{
    max-width: 0px;
    visibility: hidden;
    opacity: 0;
}
.loadMoreBtn.active .loadingGif{
    visibility: visible;
    opacity: 1;
    margin-left: 5px;
    margin-top: 4px;
}
.loadMoreBtn .loadingGif img{
    width: 30px;
}

/*-----End of load more btn */
/*-------End of grid styles */

/* search box */
.search-box{
    background: url("../images/home-page-images/search-box-bg.jpg") center no-repeat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: white;
    text-align: center;
    overflow: hidden;
    margin: 10px;
}
.search-box .col{
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    -ms-backdrop-filter: blur(2px);
    -o-backdrop-filter: blur(2px);
    padding: 20px;
}
.search-box .col form{
    display: flex;
    background-color: white;
    padding: 5px;
    max-width: 70%;
    margin: auto auto;
    justify-content: space-between;
    border-radius: 400px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    -o-border-radius: 400px;
}
.search-box .col form input , button{
    border: none;
    background-color: white;
    outline: none;
    text-align: center;
    font-family: inherit;
}
.search-box .col form input{
    width: 80%;
}
.search-box .col form button{
    margin-left: auto;
}
/*-------End of search box */

/* navTool */
.navTool{
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 1.5rem;
}
.navTool .col{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 10px 50px;
}
.navTool .col .navToolItem{
    padding: 5px 20px;
    margin: 2px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: black;
}
.navTool .col .navToolItem{
    background-color: rgb(245, 245, 245);
}
.navTool .col .navToolItem:hover{
    background-color: rgb(185, 185, 185) !important;
}
.navTool .col .navToolItem:last-child{
    padding-right: 50px;
}
.navTool .col .navToolItem i{
    font-weight: 500;
    color: rgb(73, 73, 73);
}
.navToolArrows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}
.navToolArrows div{
    background-color: rgb(241, 241, 241);
    display: flex;
    padding: 15px;
    box-shadow: 0 1px 15px .2px rgba(61, 61, 61, 0.219);
    z-index: 3;
}
.navToolArrows div:hover{
    background-color: rgb(209, 209, 209);
}
.navToolArrows div:nth-child(1){
    border-radius: 0 50% 50% 0;
    -webkit-border-radius: 0 50% 50% 0;
    -moz-border-radius: 0 50% 50% 0;
    -ms-border-radius: 0 50% 50% 0;
    -o-border-radius: 0 50% 50% 0;
}
.navToolArrows div:nth-child(2){
    border-radius: 50% 0 0 50%;
    -webkit-border-radius: 50% 0 0 50%;
    -moz-border-radius: 50% 0 0 50%;
    -ms-border-radius: 50% 0 0 50%;
    -o-border-radius: 50% 0 0 50%;
}
/* scrollbar  */
.navTool::-webkit-scrollbar{
    height: 8px;
}
.navTool::-webkit-scrollbar-track{
    background-color: rgb(238, 238, 238);
}
.navTool::-webkit-scrollbar-thumb{
    background: rgb(202, 202, 202);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.navTool::-webkit-scrollbar-thumb:hover{
    background: rgb(139, 139, 139);
}

/*----End of  scrollbar  */

/*------End of navTool */




/* tablet and mobile style */
@media screen and (max-width:991px){
    /* loading btn */
    .loadMoreBtn{
        width: 80%;
    }
    /*-----End of loading btn */
}
/*-------End of tablet and mobile style */