/* grid styles */
.grid .grid-item img{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-filter{
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.377);
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
}
.image-filter img{
    max-width: 30px;
    display: block;
}
.grid-item:hover .image-filter{
    opacity: 1;
}
.image-filter .download-info{
    color: white;
    display: flex;
    position: absolute;
    bottom: 10%;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.download-info div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  0.8rem;
}
.download-info img{
    width: minmax(15px , 10%);
    margin-right: 5px;
}
/*-------End of grid styles */

/* search box */
.search-box{
    background: url("../images/home-page-images/search-box-bg.jpg") center no-repeat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: white;
    text-align: center;
    overflow: hidden;
    margin: 10px;
}
.search-box .col{
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    -ms-backdrop-filter: blur(2px);
    -o-backdrop-filter: blur(2px);
    padding: 20px;
}
.search-box .col form{
    display: flex;
    background-color: white;
    padding: 5px;
    max-width: 70%;
    margin: auto auto;
    justify-content: space-between;
    border-radius: 400px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    -o-border-radius: 400px;
}
.search-box .col form input , button{
    border: none;
    background-color: white;
    outline: none;
}
.search-box .col form input{
    width: 80%;
}
.search-box .col form button{
    margin-left: auto;
}
/*-------End of search box */